/* GLOBAL */

body{
	background: url("../img/bg.png")
}

ul {
	font-family: cursive;
	text-align: center;

}

a:hover {
	color: white;
	
}

li {
	padding: 20px;
}
/* LAYOUT */

.container {
	background: thistle;
	margin: 0 auto;
	width: 90%;
}

article section {
	float: left;
	padding: 2%;
	width: 46%;
}

/* Adaptive Content */

iframe, img {
	max-width: 100%;
	width: 100%;
	
}

/* Max dimensions for Logo */

	#home {
		max-width: 300px;
		width: 300px;
	}

/* Large Desktop minimum*/
@media (min-width: 1025px) {
	/* black BG for testing */
	body { background: black; }
			li {
		text-align: center;
		display:inline;
		margin: auto;

	}

}
	/* Show for Desktop */
	.desktop-video {
	height: 320px;
	max-width: 640px;
	width: 640px;
}
	/* Hide for Mobile */
	.mobile-video {
		display: none;
	}

	/* Center Video */

	main {
		text-align: center;

	}

}
	/* Desktop (Standard) */
	@media (max-width: 1024px) {

		/* Purple BG for testing */
		body { background: purple; }

		/* Show for Desktop */
		.desktop-video {
			height:320px;
			max-width: 100%;
			width: 100%;
		}
		/*Hide for Mobile */
		.mobile-video {
			display: none;
		
		}
	}

	/* Tablet */
	@media (max-width: 768px) {

		/* Blue BG for testing*/
		body { background: grey;}

		/* Hide for Mobiel*/
		.mobile-video {
			width: 100%;
			display: block;
		}

		/* Single Column Tablet*/
		article section {
			float: none;
			width: 100%;
			width: 100%;
		}
			li {
			text-align: center;
			display:inline;
			margin: auto;

}
	}

	/* Mobile (Landscape) */
	@media (max-width: 480px ){

		/* Purple BG for Testing */
		body { background: olive;}
	}
		#youtube-big {
			width: 420px; 
		}

		#youtube-med{
		display: block;
	}
		li {
text-align: center;
display:inline;
margin: auto;

}
}

	

/* Tablet Query*/
@media (min-width: 960px) {
	#youtube-med{
		display: none;
	}

		#youtube-big{
		display: block;
	}
	li {
text-align: center;
display:inline;
margin: auto;

}

}

/* Mobile Query */
@media (max-width: 480px) {

	article section{
		float: none;
		
		width: 100%;
	}
	#youtube-med {
		display: none;
	}
	li {
text-align: center;
margin:20px;

}

}
h1 {
	text-align: center;
    margin-right: auto;
    width:100%;
}

.red:hover{
	max-width: 400px;
}
.bw:hover{
	max-width: 400px;
}

